/* .gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  margin: 5px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
} */
